<div class="container" style="margin-bottom: 60px;">
    <div class="row">
           
        <div class="col-12 mb-3"><h5 class="text-center mb-0">Os Desenvolvedores tem nome e endereço</h5></div>
        <div class="col-12 d-flex mb-3">
            <div class="card mx-auto" style="max-width: 690px;">
                <div class="card-body">
                    <h5 class="card-title">Lucas Matheus Guimarães</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Desenvolvedor - Angular, Ionic, .NetCore</h6>
                    <p class="card-text">2 anos fingindo que sabe programar no mercado de trabalho. Fanboy da Microsoft.
                        Jogo board games e Xbox no tempo livre. <br>Xbox Live: Bob Builder8096 <br>Ludopedia: BobConstrutor
                    </p>
                    <a class="card-link" href="https://github.com/lucas-242" target="blank">
                        <i class="fa fa-github"></i>
                    </a>
                    <a class="card-link"
                        href="https://www.linkedin.com/in/lucas-matheus-rocha-guimar%C3%A3es-202250140/" target="blank">
                        <i class="fa fa-linkedin-square"></i>
                    </a>
                    <a class="card-link" href="https://twitter.com/bobconstrutorbr" target="blank">
                        <i class="fa fa-twitter-square"></i>
                    </a>
                    <a class="card-link" href="https://www.instagram.com/luckm242/" target="blank">
                        <i class="fa fa-instagram"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 d-flex">
            <div class="card mx-auto" style="max-width: 690px;">
                <div class="card-body">
                    <h5 class="card-title">Yuri Vasconcelos</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Desenvolvedor Móvel - Angular, Ionic</h6>
                    <p class="card-text">Protetor dos bons costumes e da família tradicional brasileira (1.0 e 2.0).
                        INCEL lifestyle. Representante do MDT e Profissional de Redstone no Minecraft. 
                        Futuro desenvolvedor de aplicativos milionários.</p>
                    <a class="card-link" href="https://github.com/Yuri-vsilva"><i class="fa fa-github"></i></a>
                    <a class="card-link" href="https://www.linkedin.com/in/yuri-vasconcelos-da-silva-62633a165/">
                        <i class="fa fa-linkedin-square"></i>
                    </a>
                    <a class="card-link" href="https://twitter.com/imanothersilva" target="blank">
                        <i class="fa fa-twitter-square"></i>
                    </a>
                    <a class="card-link" href="https://www.instagram.com/im.yuri06/" target="blank">
                        <i class="fa fa-instagram"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>