@import './styles/colors.scss';

body {
    background-color: #EDEDED !important;
    color: $onyx !important;
    font-size: 19px;
}

input, select, textarea {
    -webkit-appearance: none !important;
    margin: 0 !important;
    border-color: lightgrey !important;
    box-shadow: none !important;
}

a.card-link {
    color: inherit !important;
}

a:hover:not(.navbar-brand) {
    color: inherit !important;
    text-decoration: none !important;
}

.btn:focus {
    border-color: none !important;
    box-shadow: none !important;
    outline: 0 none !important;
}

//Calculator
.calculator {
    width: 250px;
    border: 1px #131314 solid;
    border-radius: 8px;
}

.calculator .btn {
    width: 51.9px;
}

.calculator .btn-warning {
    background-color: #FFC100;
    color: #ffffff;
}

.calculator .btn-warning:hover {
    color: #ffffff;
}

.calculator .btn-grey {
    background-color: #d4d4d4;
}