<div class="calculator px-2 mx-auto">
    <input class="form-control mt-2 mb-3" type="text" readonly [(ngModel)]="screen" />

    <div class="btn-group-vertical" role="buttons" aria-label="Buttons">
        <div class="d-flex align-self-end mb-2" *ngFor="let line of linesOfButtons">
            <button class="btn" *ngFor="let button of line; let i = index" type="button" (click)="onClickButton(button)"
                [ngClass]="{
                'btn-dark': button.type === 'number',
                'btn-warning': button.type === 'operator', 
                'btn-secondary': button.type === 'signal',
                'btn-danger': button.type === 'action',
                'ml-2': i != 0 }">
                {{ button.value }}
            </button>
        </div>
    </div>
</div>